****************************************************
**                                                **
**              Welcome to Betsy CLI!             **
**          Your local Account Abstraction        **
**              development environment           **
**                                                **
****************************************************
.-. .-')    ('-.   .-') _     .-')                
\  ( OO ) _(  OO) (  OO) )   ( OO ).              
;-----.\(,------./     '._ (_)---\_)  ,--.   ,--.
| .-.  | |  .---'|'--...__)/    _ |    \  `.'  / 
| '-' /_)|  |    '--.  .--'\  :` `.  .-')     /  
| .-. `.(|  '--.    |  |    '..`''.)(OO  \   /   
| |  \  ||  .--'    |  |   .-._)   \ |   /  /\_  
| '--'  /|  `---.   |  |   \       / `-./  /.__) 
`------' `------'   `--'    `-----'    `--'      

Betsy comes with:
- A in-memory Ethereum execution client
- Pre-funded accounts with private keys
- Pre-deployed ERC 4337 smart contracts
- An ERC 4337 Bundler client
- An ERC 4337 userOp mempool dashboard
- An ERC 4337 Bundler bundle dashboard

Type besty --help to explore the list of commands.

****************************************************
